{% extends "base.html.twig" %}

{% block title %} Toutes les catégories{% endblock %}
{% block body %}
    {% include '_components/_navbar.html.twig' %}
    <h1>Toutes les catégories de modèles de tricot : </h1>
    {% for category in categories %}
        <div class= "template-cards">
            <div class= "card-category">
                <div>
                    <h2>{{ loop.index }} / {{ category.name }}</h2>
                
                    <a href="{{ path("category_show", { categoryName: category.name }) }}">Voir la catégorie</a>
                </div>
            </div>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <a href="{{ path('home_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
