    <section class="section-pelote-index">
        <div class= "template-form-pelote"> 
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="button-creer">
                    <button class="btn btn-secondary">{{ button_label|default('Enregistrer') }}</button>
                </div>
            {{ form_end(form) }}         
        </div>
    </section>