{% extends 'base.html.twig' %}

{% block title %}Edit Pelote{% endblock %}

{% block body %}
    <h1>Editer Pelote</h1>

    {{ include('pelote/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pelote_index') }}">Retour à la liste</a>

    {{ include('pelote/_delete_form.html.twig') }}
{% endblock %}
