{% extends 'base.html.twig' %}

{% block title %}Edit Pelote{% endblock %}

{% block body %}
<hr>
    {% include '_components/_navbar.html.twig' %}
    <hr>
    <h1 class="title-page">Editer la pelote</h1>

    {{ include('pelote/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="lien-retour">
        <a class="lien-card" href="{{ path('pelote_index') }}">Retour à la liste</a>
    </div>
    {{ include('pelote/_delete_form.html.twig') }}
{% endblock %}
