{% extends 'base.html.twig' %}

{% block title %}Nouvelle Pelote{% endblock %}

{% block body %}
<hr>
    {% include '_components/_navbar.html.twig' %}
    <hr>
    <h1 class= "title-page">Ajout d'une nouvelle pelote : </h1>

    {{ include('pelote/_form.html.twig') }}

    <div class="lien-retour">
        <a class="lien-card" href="{{ path('pelote_index') }}">retour à la liste</a>
    </div>
{% endblock %}
