{% extends 'base.html.twig' %}

{% block title %}New Pelote{% endblock %}

{% block body %}
    <h1>Create new Pelote</h1>

    {{ include('pelote/_form.html.twig') }}

    <a href="{{ path('pelote_index') }}">back to list</a>
{% endblock %}
